# Analyzing borrowers’ risk of defaulting

Your project is to prepare a report for a bank’s loan division. You’ll need to find out if a customer’s marital status and number of children has an impact on whether they will default on a loan. The bank already has some data on customers’ credit worthiness.

Your report will be considered when building the **credit score** of a potential customer. The **credit score** is used to evaluate the ability of a potential borrower to repay their loan.

[In this notebook you're provided with hints and brief instructions and thinking prompts. Don't ignore them as they are designed to equip you with the structure for the project and will help you analyze what you're doing on a deeper level. Before submitting your project, make sure you remove all hints and descriptions provided to you. Instead, make this report look as if you're sending it to your teammates to demonstrate your findings - they shouldn't know you had some external help from us! To help you out, we've placed the hints you should remove in square brackets.]

[Before you dive into analyzing your data, explain the purposes of the project and hypotheses you're going to test.]

## Open the data file and have a look at the general information. 

[Start with importing the libraries and loading the data. You may realise that you need additional libraries as you go, which is totally fine - just make sure to update this section when you do.]

In [1]:
import pandas as pd
import numpy as np

In [2]:
try:
    data = pd.read_csv('credit_scoring_eng.csv')

except:
    data = pd.read_csv('/datasets/credit_scoring_eng.csv')

## Task 1. Data exploration

**Description of the data**
- `children` - the number of children in the family
- `days_employed` - work experience in days
- `dob_years` - client's age in years
- `education` - client's education
- `education_id` - education identifier
- `family_status` - marital status
- `family_status_id` - marital status identifier
- `gender` - gender of the client
- `income_type` - type of employment
- `debt` - was there any debt on loan repayment
- `total_income` - monthly income
- `purpose` - the purpose of obtaining a loan

[Now let's explore our data. You'll want to see how many columns and rows it has, look at a few rows to check for potential issues with the data.]

In [3]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

[Are there missing values across all columns or just a few? Briefly describe what you see in 1-2 sentences.]

**We can see missing data in days_employed and total_income columnes**

In [4]:
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,bachelor's degree,0,married,0,F,employee,0,40620.102,purchase of the house
1,1,-4024.803754,36,secondary education,1,married,0,F,employee,0,17932.802,car purchase
2,0,-5623.422610,33,Secondary Education,1,married,0,M,employee,0,23341.752,purchase of the house
3,3,-4124.747207,32,secondary education,1,married,0,M,employee,0,42820.568,supplementary education
4,0,340266.072047,53,secondary education,1,civil partnership,1,F,retiree,0,25378.572,to have a wedding

In [5]:
data.describe()

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
count,21525.000000,19351.000000,21525.000000,21525.000000,21525.000000,21525.000000,19351.000000
mean,0.538908,63046.497661,43.293380,0.817236,0.972544,0.080883,26787.568355
std,1.381587,140827.311974,12.574584,0.548138,1.420324,0.272661,16475.450632
min,-1.000000,-18388.949901,0.000000,0.000000,0.000000,0.000000,3306.762000
25%,0.000000,-2747.423625,33.000000,1.000000,0.000000,0.000000,16488.504500
50%,0.000000,-1203.369529,42.000000,1.000000,0.000000,0.000000,23202.870000
75%,1.000000,-291.095954,53.000000,1.000000,1.000000,0.000000,32549.611000
max,20.000000,401755.400475,75.000000,4.000000,4.000000,1.000000,362496.645000

In [6]:
data.describe(include = 'all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
children,21525.0,NaN,NaN,NaN,0.538908,1.381587,-1.0,0.0,0.0,1.0,20.0
days_employed,19351.0,NaN,NaN,NaN,63046.497661,140827.311974,-18388.949901,-2747.423625,-1203.369529,-291.095954,401755.400475
dob_years,21525.0,NaN,NaN,NaN,43.29338,12.574584,0.0,33.0,42.0,53.0,75.0
education,21525,15,secondary education,13750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
education_id,21525.0,NaN,NaN,NaN,0.817236,0.548138,0.0,1.0,1.0,1.0,4.0
family_status,21525,5,married,12380,NaN,NaN,NaN,NaN,NaN,NaN,NaN
family_status_id,21525.0,NaN,NaN,NaN,0.972544,1.420324,0.0,0.0,0.0,1.0,4.0
gender,21525,3,F,14236,NaN,NaN,NaN,NaN,NaN,NaN,NaN
income_type,21525,8,employee,11119,NaN,NaN,NaN,NaN,NaN,NaN,NaN
debt,21525.0,NaN,NaN,NaN,0.080883,0.272661,0.0,0.0,0.0,0.0,1.0
total_income,19351.0,NaN,NaN,NaN,26787.568355,16475.450632,3306.762,16488.5045,23202.87,32549.611,362496.645
purpose,21525,38,wedding ceremony,797,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:

data.isnull().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

[Do missing values seem symmetric? Can we be sure in this assumption? Explain your thoughts briefly in this section. You may probably want to conduct further investigations, and count the missing values in all the rows with missing values to confirm the the missing samples are of the same size.]

In [8]:
data.isnull().sum()/len(data)

children            0.000000
days_employed       0.100999
dob_years           0.000000
education           0.000000
education_id        0.000000
family_status       0.000000
family_status_id    0.000000
gender              0.000000
income_type         0.000000
debt                0.000000
total_income        0.100999
purpose             0.000000
dtype: float64

In [9]:
data.isnull().sum()/len(data)

children            0.000000
days_employed       0.100999
dob_years           0.000000
education           0.000000
education_id        0.000000
family_status       0.000000
family_status_id    0.000000
gender              0.000000
income_type         0.000000
debt                0.000000
total_income        0.100999
purpose             0.000000
dtype: float64

In [10]:
data_mis = data.isnull().sum().to_frame('missing_values')
data_mis['%'] = round(data.isnull().sum()/len(data),3)
data_mis.sort_values(by='%', ascending=False)

                  missing_values      %
days_employed               2174  0.101
total_income                2174  0.101
children                       0  0.000
dob_years                      0  0.000
education                      0  0.000
education_id                   0  0.000
family_status                  0  0.000
family_status_id               0  0.000
gender                         0  0.000
income_type                    0  0.000
debt                           0  0.000
purpose                        0  0.000

In [11]:
data['days_employed'].describe()

count     19351.000000
mean      63046.497661
std      140827.311974
min      -18388.949901
25%       -2747.423625
50%       -1203.369529
75%        -291.095954
max      401755.400475
Name: days_employed, dtype: float64

In [12]:
data[(data.days_employed.isnull())]

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12,0,NaN,65,secondary education,1,civil partnership,1,M,retiree,0,NaN,to have a wedding
26,0,NaN,41,secondary education,1,married,0,M,civil servant,0,NaN,education
29,0,NaN,63,secondary education,1,unmarried,4,F,retiree,0,NaN,building a real estate
41,0,NaN,50,secondary education,1,married,0,F,civil servant,0,NaN,second-hand car purchase
55,0,NaN,54,secondary education,1,civil partnership,1,F,retiree,1,NaN,to have a wedding
...,...,...,...,...,...,...,...,...,...,...,...,...
21489,2,NaN,47,Secondary Education,1,married,0,M,business,0,NaN,purchase of a car
21495,1,NaN,50,secondary education,1,civil partnership,1,F,employee,0,NaN,wedding ceremony
21497,0,NaN,48,BACHELOR'S DEGREE,0,married,0,F,business,0,NaN,building a property
21502,1,NaN,42,secondary education,1,married,0,F,employee,0,NaN,building a real estate
21510,2,NaN,28,secondary education,1,married,0,F,employee,0,NaN,car purchase

In [13]:
data[(data.total_income.isnull())]

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12,0,NaN,65,secondary education,1,civil partnership,1,M,retiree,0,NaN,to have a wedding
26,0,NaN,41,secondary education,1,married,0,M,civil servant,0,NaN,education
29,0,NaN,63,secondary education,1,unmarried,4,F,retiree,0,NaN,building a real estate
41,0,NaN,50,secondary education,1,married,0,F,civil servant,0,NaN,second-hand car purchase
55,0,NaN,54,secondary education,1,civil partnership,1,F,retiree,1,NaN,to have a wedding
...,...,...,...,...,...,...,...,...,...,...,...,...
21489,2,NaN,47,Secondary Education,1,married,0,M,business,0,NaN,purchase of a car
21495,1,NaN,50,secondary education,1,civil partnership,1,F,employee,0,NaN,wedding ceremony
21497,0,NaN,48,BACHELOR'S DEGREE,0,married,0,F,business,0,NaN,building a property
21502,1,NaN,42,secondary education,1,married,0,F,employee,0,NaN,building a real estate
21510,2,NaN,28,secondary education,1,married,0,F,employee,0,NaN,car purchase

In [14]:

data[(data.days_employed.isnull()) & (data.total_income.isnull())]

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12,0,NaN,65,secondary education,1,civil partnership,1,M,retiree,0,NaN,to have a wedding
26,0,NaN,41,secondary education,1,married,0,M,civil servant,0,NaN,education
29,0,NaN,63,secondary education,1,unmarried,4,F,retiree,0,NaN,building a real estate
41,0,NaN,50,secondary education,1,married,0,F,civil servant,0,NaN,second-hand car purchase
55,0,NaN,54,secondary education,1,civil partnership,1,F,retiree,1,NaN,to have a wedding
...,...,...,...,...,...,...,...,...,...,...,...,...
21489,2,NaN,47,Secondary Education,1,married,0,M,business,0,NaN,purchase of a car
21495,1,NaN,50,secondary education,1,civil partnership,1,F,employee,0,NaN,wedding ceremony
21497,0,NaN,48,BACHELOR'S DEGREE,0,married,0,F,business,0,NaN,building a property
21502,1,NaN,42,secondary education,1,married,0,F,employee,0,NaN,building a real estate
21510,2,NaN,28,secondary education,1,married,0,F,employee,0,NaN,car purchase

**Intermediate conclusion**

[Does the number of rows in the filtered table match the number of missing values? What conclusion can we make from this?]

[Calculate the percentage of the missing values compared to the whole dataset. Is it a considerably large piece of data? If so, you may want to fill the missing values. To do that, firstly we should consider whether the missing data could be due to the specific client characteristic, such as employment type or something else. You will need to decide which characteristic *you* think might be the reason. Secondly, we should check whether there's any dependence missing values have on the value of other indicators with the columns with identified specific client characteristic.]

[Explain your next steps and how they correlate with the conclusions you made so far.]

**The number of rows in the filtered table match the number of missing values. Thats mean that missin values are resolt of specific client characteristi and wee should invistigate them.**

**There are 10% of missing values. It is large piece of data and wee should fill the missing values.**

 Let's investigate clients who do not have data on identified characteristic and the column with the missing values

In [15]:

data[data.days_employed.notna()]['education'].value_counts()

secondary education    12342
bachelor's degree       4222
SECONDARY EDUCATION      705
Secondary Education      646
some college             613
BACHELOR'S DEGREE        251
Bachelor's Degree        243
primary education        231
Some College              40
SOME COLLEGE              22
PRIMARY EDUCATION         16
Primary Education         14
graduate degree            4
Graduate Degree            1
GRADUATE DEGREE            1
Name: education, dtype: int64

In [16]:

data[data.days_employed.isnull()]['education'].value_counts()

secondary education    1408
bachelor's degree       496
SECONDARY EDUCATION      67
Secondary Education      65
some college             55
Bachelor's Degree        25
BACHELOR'S DEGREE        23
primary education        19
Some College              7
SOME COLLEGE              7
Primary Education         1
PRIMARY EDUCATION         1
Name: education, dtype: int64

**Wee shold check if the level of education is connected to default on a loan**

[Describe your findings here.]

**Possible reasons for missing values in data**

[Propose your ideas on why you think the values might be missing. Do you think they are missing randomly or there are any patterns?]

[Let's start checking whether the missing values are random.]

In [17]:
data[data.days_employed.isnull()]['family_status'].value_counts()

married              1237
civil partnership     442
unmarried             288
divorced              112
widow / widower        95
Name: family_status, dtype: int64

In [18]:
data[data.days_employed.isnull()]['income_type'].value_counts()

employee         1105
business          508
retiree           413
civil servant     147
entrepreneur        1
Name: income_type, dtype: int64

In [19]:
data[data.days_employed.isnull()]['education'].value_counts()

secondary education    1408
bachelor's degree       496
SECONDARY EDUCATION      67
Secondary Education      65
some college             55
Bachelor's Degree        25
BACHELOR'S DEGREE        23
primary education        19
Some College              7
SOME COLLEGE              7
Primary Education         1
PRIMARY EDUCATION         1
Name: education, dtype: int64

In [20]:
data[data.total_income.isnull()]['family_status'].value_counts()

married              1237
civil partnership     442
unmarried             288
divorced              112
widow / widower        95
Name: family_status, dtype: int64

In [21]:
data[data.total_income.isnull()]['income_type'].value_counts()

employee         1105
business          508
retiree           413
civil servant     147
entrepreneur        1
Name: income_type, dtype: int64

In [22]:
data[data.total_income.isnull()]['education'].value_counts()

secondary education    1408
bachelor's degree       496
SECONDARY EDUCATION      67
Secondary Education      65
some college             55
Bachelor's Degree        25
BACHELOR'S DEGREE        23
primary education        19
Some College              7
SOME COLLEGE              7
Primary Education         1
PRIMARY EDUCATION         1
Name: education, dtype: int64

Checking the distribution in the whole dataset

In [23]:

data['family_status'].value_counts()

married              12380
civil partnership     4177
unmarried             2813
divorced              1195
widow / widower        960
Name: family_status, dtype: int64

In [24]:
data['family_status'].value_counts()/len(data)

married              0.575145
civil partnership    0.194053
unmarried            0.130685
divorced             0.055517
widow / widower      0.044599
Name: family_status, dtype: float64

In [25]:
data['income_type'].value_counts()

employee                       11119
business                        5085
retiree                         3856
civil servant                   1459
unemployed                         2
entrepreneur                       2
student                            1
paternity / maternity leave        1
Name: income_type, dtype: int64

In [26]:
data['income_type'].value_counts()/len(data)

employee                       0.516562
business                       0.236237
retiree                        0.179141
civil servant                  0.067782
unemployed                     0.000093
entrepreneur                   0.000093
student                        0.000046
paternity / maternity leave    0.000046
Name: income_type, dtype: float64

In [27]:
data['education'].value_counts()

secondary education    13750
bachelor's degree       4718
SECONDARY EDUCATION      772
Secondary Education      711
some college             668
BACHELOR'S DEGREE        274
Bachelor's Degree        268
primary education        250
Some College              47
SOME COLLEGE              29
PRIMARY EDUCATION         17
Primary Education         15
graduate degree            4
Graduate Degree            1
GRADUATE DEGREE            1
Name: education, dtype: int64

In [28]:
data['education'].value_counts()/len(data)

secondary education    0.638792
bachelor's degree      0.219187
SECONDARY EDUCATION    0.035865
Secondary Education    0.033031
some college           0.031034
BACHELOR'S DEGREE      0.012729
Bachelor's Degree      0.012451
primary education      0.011614
Some College           0.002184
SOME COLLEGE           0.001347
PRIMARY EDUCATION      0.000790
Primary Education      0.000697
graduate degree        0.000186
Graduate Degree        0.000046
GRADUATE DEGREE        0.000046
Name: education, dtype: float64

**Intermediate conclusion**

[Is the distribution in the original dataset similar to the distribution of the filtered table? What does that mean for us?]

[If you think we can't make any conclusions yet, let's investigate our dataset further. Let's think about other reasons that could lead to data missing and check if we can find any patterns that may lead us to thinking that the missing values are not random. Because this is your work, this is section is optional.]

**The distribution in the original dataset similar to the distribution of the filtered table. The missing values are not random.Maybe : family_status, income_type and education are reasons that could lead to data missing.**

**Intermediate conclusion**

[Can we finally confirm that missing values are accidental? Check for anything else that you think might be important here.]

**Conclusions**

[Did you find any patterns? How did you come to this conclusion?]

[Explain how you will address the missing values. Consider the categories in which values are missing.]

[Briefly plan your next steps for transforming data. You will probably need to address different types of issues: duplicates, different registers, incorrect artifacts, and missing values.]

## Data transformation

[Let's go through each column to see what issues we may have in them.]

[Begin with removing duplicates and fixing educational information if required.]

 Let's see all values in education column to check if and what spellings will need to be fixed

In [29]:

data['education'].unique()

array(["bachelor's degree", 'secondary education', 'Secondary Education',
       'SECONDARY EDUCATION', "BACHELOR'S DEGREE", 'some college',
       'primary education', "Bachelor's Degree", 'SOME COLLEGE',
       'Some College', 'PRIMARY EDUCATION', 'Primary Education',
       'Graduate Degree', 'GRADUATE DEGREE', 'graduate degree'],
      dtype=object)

Fixing the registers

In [30]:

data['education'].str.lower()

0          bachelor's degree
1        secondary education
2        secondary education
3        secondary education
4        secondary education
                ...
21520    secondary education
21521    secondary education
21522    secondary education
21523    secondary education
21524    secondary education
Name: education, Length: 21525, dtype: object

In [31]:
data['education'] = data['education'].str.lower()

Checking all the values in the column to make sure we fixed them

In [32]:


data['education'].unique()

array(["bachelor's degree", 'secondary education', 'some college',
       'primary education', 'graduate degree'], dtype=object)

[Check the data the `children` column]

Let's see the distribution of values in the `children` column

In [33]:

data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

 Let's fix the data

In [34]:

data['children'] = data['children'].replace(-1, 1)
data['children'] = data['children'].replace(20, 2)

Checking the `children` column again to make sure it's all fixed

In [35]:

data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

[Check the data in the `days_employed` column. Firstly think about what kind of issues could there be and what you may want to check and how you will do it.]

Find problematic data in `days_employed

In [36]:

data['days_employed'].unique()

array([-8437.67302776, -4024.80375385, -5623.42261023, ...,
       -2113.3468877 , -3112.4817052 , -1984.50758853])

[If the amount of problematic data is high, it could've been due to some technical issues. We may probably want to propose the most obvious reason why it could've happened and what the correct data might've been, as we can't drop these problematic rows.]

Let's Address the problematic values

In [37]:

data['days_employed'] = data['days_employed'].abs()

Check the result

In [38]:

data['days_employed'].unique()

array([8437.67302776, 4024.80375385, 5623.42261023, ..., 2113.3468877 ,
       3112.4817052 , 1984.50758853])

**There are no need in farther transformation becouse wee dont need days_employed in our project**

[Let's now look at the client's age and whether there are any issues there. Again, think about what can data can be strange in this column, i.e. what cannot be someone's age.]

Check the `dob_years` for suspicious values

In [39]:

data['dob_years'].unique()

array([42, 36, 33, 32, 53, 27, 43, 50, 35, 41, 40, 65, 54, 56, 26, 48, 24,
       21, 57, 67, 28, 63, 62, 47, 34, 68, 25, 31, 30, 20, 49, 37, 45, 61,
       64, 44, 52, 46, 23, 38, 39, 51,  0, 59, 29, 60, 55, 58, 71, 22, 73,
       66, 69, 19, 72, 70, 74, 75], dtype=int64)

[Decide what you'll do with the problematic values and explain why.]

Let`s replace 0 with averege age

In [40]:

age_avg = data['dob_years'].mean()
data['dob_years'] = data['dob_years'].replace(0, age_avg)
#data['dob_years'] = data['dob_years'].fillna(value=age_avg)

In [41]:

data['dob_years'].unique()

array([42.        , 36.        , 33.        , 32.        , 53.        ,
       27.        , 43.        , 50.        , 35.        , 41.        ,
       40.        , 65.        , 54.        , 56.        , 26.        ,
       48.        , 24.        , 21.        , 57.        , 67.        ,
       28.        , 63.        , 62.        , 47.        , 34.        ,
       68.        , 25.        , 31.        , 30.        , 20.        ,
       49.        , 37.        , 45.        , 61.        , 64.        ,
       44.        , 52.        , 46.        , 23.        , 38.        ,
       39.        , 51.        , 43.29337979, 59.        , 29.        ,
       60.        , 55.        , 58.        , 71.        , 22.        ,
       73.        , 66.        , 69.        , 19.        , 72.        ,
       70.        , 74.        , 75.        ])

[Now let's check the `family_status` column. See what kind of values there are and what problems you may need to address.]

 let's check the family_status column

Let's see the values for the column

In [42]:

data['family_status'].unique()

array(['married', 'civil partnership', 'widow / widower', 'divorced',
       'unmarried'], dtype=object)

In [43]:

data['family_status'] = data['family_status'].replace('unmarried', 'single')

In [44]:

data['family_status'].unique()

array(['married', 'civil partnership', 'widow / widower', 'divorced',
       'single'], dtype=object)

 Let's check the gender column

In [45]:

data['gender'].unique()

array(['F', 'M', 'XNA'], dtype=object)

In [46]:

data.loc[data['gender'] == 'XNA', 'gender'] = 'Unknown'

In [47]:

data['gender'].unique()

array(['F', 'M', 'Unknown'], dtype=object)

Let's check the income_type column

In [48]:

data['income_type'].unique()

array(['employee', 'retiree', 'business', 'civil servant', 'unemployed',
       'entrepreneur', 'student', 'paternity / maternity leave'],
      dtype=object)

In [49]:

data.loc[data['income_type'] == 'entrepreneur', 'income_type'] = 'business'
data.loc[data['income_type'] == 'civil servant', 'income_type'] = 'employee'

In [50]:

data['income_type'].unique()

array(['employee', 'retiree', 'business', 'unemployed', 'student',
       'paternity / maternity leave'], dtype=object)

Checking duplicates:

In [51]:

data.duplicated().sum()

74

In [52]:
data[data.duplicated()]

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
2849,0,NaN,41.0,secondary education,1,married,0,F,employee,0,NaN,purchase of the house for my family
3290,0,NaN,58.0,secondary education,1,civil partnership,1,F,retiree,0,NaN,to have a wedding
4182,1,NaN,34.0,bachelor's degree,0,civil partnership,1,F,employee,0,NaN,wedding ceremony
4658,1,NaN,46.0,bachelor's degree,0,married,0,F,employee,0,NaN,construction of own property
4851,0,NaN,60.0,secondary education,1,civil partnership,1,F,retiree,0,NaN,wedding ceremony
...,...,...,...,...,...,...,...,...,...,...,...,...
20702,0,NaN,64.0,secondary education,1,married,0,F,retiree,0,NaN,supplementary education
21032,0,NaN,60.0,secondary education,1,married,0,F,retiree,0,NaN,to become educated
21132,0,NaN,47.0,secondary education,1,married,0,F,employee,0,NaN,housing renovation
21281,1,NaN,30.0,bachelor's degree,0,married,0,F,employee,0,NaN,buy commercial real estate
21415,0,NaN,54.0,secondary education,1,married,0,F,retiree,0,NaN,housing transactions

Fixing the duplicates

In [53]:

data.drop_duplicates(inplace=True)

Checking the result

In [54]:

data.duplicated().sum()

0

Check the size of the dataset that wee now have after our first manipulations with it

In [55]:

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21451 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21451 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21451 non-null  float64
 3   education         21451 non-null  object
 4   education_id      21451 non-null  int64
 5   family_status     21451 non-null  object
 6   family_status_id  21451 non-null  int64
 7   gender            21451 non-null  object
 8   income_type       21451 non-null  object
 9   debt              21451 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21451 non-null  object
dtypes: float64(3), int64(4), object(5)
memory usage: 2.1+ MB

In [56]:
data.describe()

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
count,21451.000000,19351.000000,21451.000000,21451.000000,21451.000000,21451.000000,19351.000000
mean,0.480584,66914.728907,43.474087,0.817165,0.974034,0.081162,26787.568355
std,0.756099,139030.880527,12.213885,0.548655,1.421620,0.273090,16475.450632
min,0.000000,24.141633,19.000000,0.000000,0.000000,0.000000,3306.762000
25%,0.000000,927.009265,33.000000,1.000000,0.000000,0.000000,16488.504500
50%,0.000000,2194.220567,43.000000,1.000000,0.000000,0.000000,23202.870000
75%,1.000000,5537.882441,53.000000,1.000000,1.000000,0.000000,32549.611000
max,5.000000,401755.400475,75.000000,4.000000,4.000000,1.000000,362496.645000

[Describe your new dataset: briefly say what's changed and what's the percentage of the changes, if there were any.]

In [57]:
data.isnull().sum()

children               0
days_employed       2100
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2100
purpose                0
dtype: int64

In [58]:
data.isnull().sum()/len(data)

children            0.000000
days_employed       0.097898
dob_years           0.000000
education           0.000000
education_id        0.000000
family_status       0.000000
family_status_id    0.000000
gender              0.000000
income_type         0.000000
debt                0.000000
total_income        0.097898
purpose             0.000000
dtype: float64

In [59]:
  0.100999 -  0.097898

0.0031010000000000065

We have decreaswd the persentage of missing values in 0.0031010000000000065

# Working with missing values

[To speed up working with some data, you may want to work with dictionaries for some values, where IDs are provided. Explain why and which dictionaries you will work with.]

Because the categories are well definde we dont ned to find the dictionaries

### Restoring missing values in `total_income`

Let's write a function that calculates the age category

In [60]:

def age_group(dob_years):
    if dob_years < 20 :
        return 'yong_adult'
    elif dob_years < 50:
        return 'adult'
    else:
        return 'senior'

Creating new column based on function

In [61]:

data['age_group'] = data['dob_years'].apply(age_group)

In [62]:


data.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,age_group
0,1,8437.673028,42.0,bachelor's degree,0,married,0,F,employee,0,40620.102,purchase of the house,adult
1,1,4024.803754,36.0,secondary education,1,married,0,F,employee,0,17932.802,car purchase,adult
2,0,5623.422610,33.0,secondary education,1,married,0,M,employee,0,23341.752,purchase of the house,adult
3,3,4124.747207,32.0,secondary education,1,married,0,M,employee,0,42820.568,supplementary education,adult
4,0,340266.072047,53.0,secondary education,1,civil partnership,1,F,retiree,0,25378.572,to have a wedding,senior
5,0,926.185831,27.0,bachelor's degree,0,civil partnership,1,M,business,0,40922.170,purchase of the house,adult
6,0,2879.202052,43.0,bachelor's degree,0,married,0,F,business,0,38484.156,housing transactions,adult
7,0,152.779569,50.0,secondary education,1,married,0,M,employee,0,21731.829,education,senior
8,2,6929.865299,35.0,bachelor's degree,0,civil partnership,1,F,employee,0,15337.093,having a wedding,adult
9,0,2188.756445,41.0,secondary education,1,married,0,M,employee,0,23108.150,purchase of the house for my family,adult

  Creating a function that we will use for filling in missing values

For total_income

In [63]:

        
data['total_income'] = data.groupby('age_group')['total_income']\
                        .transform(lambda grp: grp.fillna(np.mean(grp)))

For days_employed

In [64]:
data['days_employed'] = data.groupby('age_group')['days_employed']\
                        .transform(lambda grp: grp.fillna(np.mean(grp)))

Checking if it works

In [65]:

data[(data.total_income.isnull())]

Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose, age_group]
Index: []

In [66]:
data[(data.days_employed.isnull())]

Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose, age_group]
Index: []

[When you think you've finished with `total_income`, check that the total number of values in this column matches the number of values in other ones.]

 Checking the number of entries in the columns

In [67]:


data.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,age_group
0,1,8437.673028,42.0,bachelor's degree,0,married,0,F,employee,0,40620.102,purchase of the house,adult
1,1,4024.803754,36.0,secondary education,1,married,0,F,employee,0,17932.802,car purchase,adult
2,0,5623.422610,33.0,secondary education,1,married,0,M,employee,0,23341.752,purchase of the house,adult
3,3,4124.747207,32.0,secondary education,1,married,0,M,employee,0,42820.568,supplementary education,adult
4,0,340266.072047,53.0,secondary education,1,civil partnership,1,F,retiree,0,25378.572,to have a wedding,senior
5,0,926.185831,27.0,bachelor's degree,0,civil partnership,1,M,business,0,40922.170,purchase of the house,adult
6,0,2879.202052,43.0,bachelor's degree,0,married,0,F,business,0,38484.156,housing transactions,adult
7,0,152.779569,50.0,secondary education,1,married,0,M,employee,0,21731.829,education,senior
8,2,6929.865299,35.0,bachelor's degree,0,civil partnership,1,F,employee,0,15337.093,having a wedding,adult
9,0,2188.756445,41.0,secondary education,1,married,0,M,employee,0,23108.150,purchase of the house for my family,adult

Checking the entries in all columns

In [68]:

data.isnull()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,age_group
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21520,False,False,False,False,False,False,False,False,False,False,False,False,False
21521,False,False,False,False,False,False,False,False,False,False,False,False,False
21522,False,False,False,False,False,False,False,False,False,False,False,False,False
21523,False,False,False,False,False,False,False,False,False,False,False,False,False
21524,False,False,False,False,False,False,False,False,False,False,False,False,False

In [69]:
data.describe(include = 'all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
children,21451.0,NaN,NaN,NaN,0.480584,0.756099,0.0,0.0,0.0,1.0,5.0
days_employed,21451.0,NaN,NaN,NaN,67123.085678,134721.686841,24.141633,1023.585294,2590.976638,7238.582916,401755.400475
dob_years,21451.0,NaN,NaN,NaN,43.474087,12.213885,19.0,33.0,43.0,53.0,75.0
education,21451,5,secondary education,15171,NaN,NaN,NaN,NaN,NaN,NaN,NaN
education_id,21451.0,NaN,NaN,NaN,0.817165,0.548655,0.0,1.0,1.0,1.0,4.0
family_status,21451,5,married,12336,NaN,NaN,NaN,NaN,NaN,NaN,NaN
family_status_id,21451.0,NaN,NaN,NaN,0.974034,1.42162,0.0,0.0,0.0,1.0,4.0
gender,21451,3,F,14172,NaN,NaN,NaN,NaN,NaN,NaN,NaN
income_type,21451,6,employee,12538,NaN,NaN,NaN,NaN,NaN,NaN,NaN
debt,21451.0,NaN,NaN,NaN,0.081162,0.27309,0.0,0.0,0.0,0.0,1.0
total_income,21451.0,NaN,NaN,NaN,26784.36725,15654.428036,3306.762,17211.0,24833.682909,31331.235,362496.645
purpose,21451,38,wedding ceremony,791,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age_group,21451,3,adult,14281,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21451 entries, 0 to 21524
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21451 non-null  int64
 1   days_employed     21451 non-null  float64
 2   dob_years         21451 non-null  float64
 3   education         21451 non-null  object
 4   education_id      21451 non-null  int64
 5   family_status     21451 non-null  object
 6   family_status_id  21451 non-null  int64
 7   gender            21451 non-null  object
 8   income_type       21451 non-null  object
 9   debt              21451 non-null  int64
 10  total_income      21451 non-null  float64
 11  purpose           21451 non-null  object
 12  age_group         21451 non-null  object
dtypes: float64(3), int64(4), object(6)
memory usage: 2.3+ MB

## Categorization of data

[To answer the questions and test the hypotheses, you will want to work with categorized data. Look at the questions that were posed to you and that you should answer. Think about which of the data will need to be categorized to answer these questions. Below you will find a template through which you can work your way when categorizing data. The first step-by-step processing covers the text data; the second one addresses the numerical data that needs to be categorized. You can use both or none of the suggested instructions - it's up to you.]

[Despite of how you decide to address the categorization, make sure to provide clear explanation of why you made your decision. Remember: this is your work and you make all decisions in it.]

Print the values for your selected data for categorization

In [71]:


data['purpose'].unique()

array(['purchase of the house', 'car purchase', 'supplementary education',
       'to have a wedding', 'housing transactions', 'education',
       'having a wedding', 'purchase of the house for my family',
       'buy real estate', 'buy commercial real estate',
       'buy residential real estate', 'construction of own property',
       'property', 'building a property', 'buying a second-hand car',
       'buying my own car', 'transactions with commercial real estate',
       'building a real estate', 'housing',
       'transactions with my real estate', 'cars', 'to become educated',
       'second-hand car purchase', 'getting an education', 'car',
       'wedding ceremony', 'to get a supplementary education',
       'purchase of my own house', 'real estate transactions',
       'getting higher education', 'to own a car', 'purchase of a car',
       'profile education', 'university education',
       'buying property for renting out', 'to buy a car',
       'housing renovation', 'going to university'], dtype=object)

Will lemmatize the words

Checking the unique values

In [72]:
%pip install pymystem3
from pymystem3 import Mystem
from collections import Counter
m = Mystem()

Requirement already satisfied: pymystem3 in c:\users\ididi\anaconda3\lib\site-packages (0.2.0)
Requirement already satisfied: requests in c:\users\ididi\anaconda3\lib\site-packages (from pymystem3) (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ididi\anaconda3\lib\site-packages (from requests->pymystem3) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ididi\anaconda3\lib\site-packages (from requests->pymystem3) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\ididi\anaconda3\lib\site-packages (from requests->pymystem3) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ididi\anaconda3\lib\site-packages (from requests->pymystem3) (3.2)
Note: you may need to restart the kernel to use updated packages.

In [73]:
import nltk
from nltk.stem import WordNetLemmatizer

wordnet_lemma = WordNetLemmatizer()

In [74]:
purpose = 'purchase of the house,car purchase,supplementary education'
words = nltk.word_tokenize(purpose)
print(words)
lemmas = [wordnet_lemma.lemmatize(w, pos = 'n') for w in words]
print(lemmas)

['purchase', 'of', 'the', 'house', ',', 'car', 'purchase', ',', 'supplementary', 'education']
['purchase', 'of', 'the', 'house', ',', 'car', 'purchase', ',', 'supplementary', 'education']

Let's write a function to categorize the data based on common topics

In [75]:

lemmas_list_all = []

for purpose in data.purpose.unique():
    words = nltk.word_tokenize(purpose)
    lemmas = [wordnet_lemma.lemmatize(w, pos = 'n') for w in words]
    lemmas=[l.lower() for l in lemmas]
    for i in lemmas:
        lemmas_list_all.append(i)

In [76]:
lemmas_list_all

['purchase',
 'of',
 'the',
 'house',
 'car',
 'purchase',
 'supplementary',
 'education',
 'to',
 'have',
 'a',
 'wedding',
 'housing',
 'transaction',
 'education',
 'having',
 'a',
 'wedding',
 'purchase',
 'of',
 'the',
 'house',
 'for',
 'my',
 'family',
 'buy',
 'real',
 'estate',
 'buy',
 'commercial',
 'real',
 'estate',
 'buy',
 'residential',
 'real',
 'estate',
 'construction',
 'of',
 'own',
 'property',
 'property',
 'building',
 'a',
 'property',
 'buying',
 'a',
 'second-hand',
 'car',
 'buying',
 'my',
 'own',
 'car',
 'transaction',
 'with',
 'commercial',
 'real',
 'estate',
 'building',
 'a',
 'real',
 'estate',
 'housing',
 'transaction',
 'with',
 'my',
 'real',
 'estate',
 'car',
 'to',
 'become',
 'educated',
 'second-hand',
 'car',
 'purchase',
 'getting',
 'an',
 'education',
 'car',
 'wedding',
 'ceremony',
 'to',
 'get',
 'a',
 'supplementary',
 'education',
 'purchase',
 'of',
 'my',
 'own',
 'house',
 'real',
 'estate',
 'transaction',
 'getting',
 'higher',
 'education',
 'to',
 'own',
 'a',
 'car',
 'purchase',
 'of',
 'a',
 'car',
 'profile',
 'education',
 'university',
 'education',
 'buying',
 'property',
 'for',
 'renting',
 'out',
 'to',
 'buy',
 'a',
 'car',
 'housing',
 'renovation',
 'going',
 'to',
 'university']

Create a column with the categories and count the values for them

In [77]:

Counter(lemmas_list_all)

Counter({'purchase': 6,
         'of': 5,
         'the': 2,
         'house': 3,
         'car': 9,
         'supplementary': 2,
         'education': 7,
         'to': 6,
         'have': 1,
         'a': 9,
         'wedding': 3,
         'housing': 3,
         'transaction': 4,
         'having': 1,
         'for': 2,
         'my': 4,
         'family': 1,
         'buy': 4,
         'real': 7,
         'estate': 7,
         'commercial': 2,
         'residential': 1,
         'construction': 1,
         'own': 4,
         'property': 4,
         'building': 2,
         'buying': 3,
         'second-hand': 2,
         'with': 2,
         'become': 1,
         'educated': 1,
         'getting': 2,
         'an': 1,
         'ceremony': 1,
         'get': 1,
         'higher': 1,
         'profile': 1,
         'university': 2,
         'renting': 1,
         'out': 1,
         'renovation': 1,
         'going': 1})

In [78]:
estete_category=['purchase','house','housing','estate','residential','construction',
                       'own','property','building','buying','renting','real']
education_category=['education','own','educated','university',]
business_category=['supplementary','commercial','own','buying','renovation']
private_category=['wedding','family','buying','ceremony']
auto_category=['car','own','buying',]

Lemmatization_func(example)

In [79]:
def lemmatization_func(line):
    words = nltk.word_tokenize(line)
    lemmas = [wordnet_lemma.lemmatize(w, pos = 'n') for w in words]
    lemmas=[l.lower() for l in lemmas]
    return lemmas

In [80]:
example=data.loc[0]['purpose']
example

'purchase of the house'

In [81]:
lemmatization_func(example)

['purchase', 'of', 'the', 'house']

Example of Any

In [82]:
any(word in lemmatization_func(example) for word in education_category)

False

In [83]:
any(word in lemmatization_func(example) for word in estete_category)

True

In [84]:
def lemmatization_func(line):
  
    words = nltk.word_tokenize(line)
    lemmas = [wordnet_lemma.lemmatize(w, pos = 'n') for w in words]
    lemmas=[l.lower() for l in lemmas]
    
    if any(word in lemmas for word in estete_category):
        return 'estete'
    elif  any(word in lemmas for word in education_category):
        return 'education'
    elif  any(word in lemmas for word in business_category):
        return 'business'
    elif  any(word in lemmas for word in private_category):
        return 'privet'
    elif  any(word in lemmas for word in auto_category):
        return 'auto'
    else:
        
        return 'other'

In [85]:
lemmatization_func(example)

'estete'

In [86]:
data['cat_purpose']=data['purpose'].apply(lemmatization_func)

In [87]:
data['cat_purpose'].value_counts()

estete       13672
education     4012
privet        2324
auto          1443
Name: cat_purpose, dtype: int64

[If you decide to categorize the numerical data, you'll need to come up with the categories for it too.]

**I cotegorized numerical data previesly then I categorized the age by age groups**

## Checking the Hypotheses

**Is there a correlation between having children and paying back on time?**

Calculating default-rate based on the number of children

In [88]:
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,age_group,cat_purpose
0,1,8437.673028,42.0,bachelor's degree,0,married,0,F,employee,0,40620.102,purchase of the house,adult,estete
1,1,4024.803754,36.0,secondary education,1,married,0,F,employee,0,17932.802,car purchase,adult,estete
2,0,5623.422610,33.0,secondary education,1,married,0,M,employee,0,23341.752,purchase of the house,adult,estete
3,3,4124.747207,32.0,secondary education,1,married,0,M,employee,0,42820.568,supplementary education,adult,education
4,0,340266.072047,53.0,secondary education,1,civil partnership,1,F,retiree,0,25378.572,to have a wedding,senior,privet

In [89]:
data['debt']

0        0
1        0
2        0
3        0
4        0
        ..
21520    0
21521    0
21522    1
21523    1
21524    0
Name: debt, Length: 21451, dtype: int64

In [90]:
data['debt'].mean()

0.0811617174024521

Calculating default-rate

In [91]:
data.groupby(['children'])['debt'].mean().reset_index().sort_values(by='debt')

   children      debt
5         5  0.000000
0         0  0.075449
3         3  0.081818
1         1  0.091677
2         2  0.094925
4         4  0.097561

**Conclusion**

**There are no connection between having children and paying back on time**

**Is there a correlation between family status and paying back on time?**

 Checking the family status data and paying back on time

Calculating default-rate based on family status

In [92]:

data.groupby(['family_status'])['debt'].mean().reset_index().sort_values(by='debt')

       family_status      debt
4    widow / widower  0.065693
1           divorced  0.071130
2            married  0.075470
0  civil partnership  0.093471
3             single  0.097509

**Conclusion**

**It seems that custumers that single ore in civil partnership less responseble in  paying back on time then other categories**

**Is there a correlation between income level and paying back on time?**

Checking the income level data and paying back on time

Calculating default-rate based on income level

In [93]:


data.groupby(['total_income'])['debt'].mean().reset_index().sort_values(by='debt')

       total_income  debt
9675      23202.870   0.0
12678     28225.736   0.0
12675     28216.603   0.0
12674     28209.905   0.0
12673     28209.807   0.0
...             ...   ...
3847      15150.253   1.0
3846      15149.780   1.0
3845      15149.745   1.0
1675      11643.014   1.0
0          3306.762   1.0

[19351 rows x 2 columns]

In [94]:
data.groupby(['income_type'])['debt'].mean().reset_index().sort_values(by='debt')

                   income_type      debt
4                      student  0.000000
3                      retiree  0.056412
0                     business  0.074016
1                     employee  0.091482
5                   unemployed  0.500000
2  paternity / maternity leave  1.000000

**Conclusion**

**It seems that custumers thet unemployed ore paternity / maternity leave struggling with paying back on time**

**How does credit purpose affect the default rate?**

Checking the percentages for default rate for each credit purpose

In [95]:

data.groupby(['purpose'])['debt'].agg(['count','mean']).reset_index().sort_values(by='count',ascending=False).head(20)

                                     purpose  count      mean
37                          wedding ceremony    791  0.080910
16                          having a wedding    768  0.083333
32                         to have a wedding    765  0.075817
26                  real estate transactions    675  0.081481
2                 buy commercial real estate    661  0.071104
19                      housing transactions    652  0.073620
7            buying property for renting out    651  0.079877
34  transactions with commercial real estate    650  0.080000
24                     purchase of the house    646  0.074303
17                                   housing    646  0.071207
25       purchase of the house for my family    638  0.070533
11              construction of own property    634  0.066246
21                                  property    633  0.066351
35          transactions with my real estate    627  0.079745
1                     building a real estate    624  0.076923
3                            buy real estate    621  0.069243
23                  purchase of my own house    620  0.054839
0                        building a property    618  0.087379
18                        housing renovation    607  0.057661
4                buy residential real estate    606  0.067657

In [96]:
data.groupby(['cat_purpose'])['debt'].agg(['count','mean']).reset_index().sort_values(by='mean',ascending=False).head()

  cat_purpose  count      mean
1   education   4012  0.092223
0        auto   1443  0.090090
3      privet   2324  0.080034
2      estete  13672  0.077165

**Conclusion**

**Bank should be careful then asked for loan in cases of wedding ceremonies ore educetional purpose**

# General Conclusion

**1.Preprocessing**


From the first look on the data we descovered thet there are missing values in **'days_employed'** and **'total_income'** columnes. We can cee that where are up to **10% of missing data**. The number of rows in the filtered table match the number of missing values. Thats mean that missin values are resolt of specific client characteristics(in our case it should bee : **'income_type'**) and wee should invistigate them.

Data transformation: 
To **'education column'** we applied **.str.lower()** and we got only **5 categories**:

'bachelor's degree, 'secondary education', 'some college',
       'primary education', 'graduate degree'


In **'children'** we changed suspicious values -1 and 20 to 1 and 2

For **'days_employed'** we applied **.abs()** to change negative values to positive, there are more problems in this column but,  we desided not to do nothing more. **we dont use this column 'days_employed'** in ore projects calculations.

In **'dob_years'** we changed 0 value vith averege age 

In **family_status** we changed **'unmarried'** to **'single'**

In **'gender'** we changed **'XNA',** to **'Unknown'**

In **'income_type'** changed **'entrepreneur'** to **'business'** and **'civil servant'** to **'employee'**


Then we drop duplicates with **.drop_duplicates**
we decreased missing values from **10%** to **9.7%**


  **Working with missing values**

  For  **dob_years** we created function that sorted different ages by groups: 
    'yong_adult', 'adult' and 'senior'
   
 And aaplied **.transform(lambda grp:** to fill the missing values, basde on **'age_group'**  in **'days_employed'** and  **'total_income'**  

                        








**2.Categorization**

 
 
 
 
To answer the questions and test the hypotheses, we will want to work with categorized data:
In our case it is the data in **'purpose'** column
We printing the data using **.unique()**
Than we using lemmatization to print the list of lemmas,
and from list of lemmas we created following categories:
       **estete_category, 
       education_category,
       business_category,
       private_category,
       auto_category**

And we created function that sorts the data by thet categories and storing new categories in **cat_purpose** in the new column

**Checking the Hypotheses:**

Formula for finding **default-rate:**


default-rate= All "1"/ All

sum(default)/count(default)

**data['debt'].mean()**




**1.**Is there a connection between having kids and repaying a loan on time?

    

   There are **no connection** between having children and paying back on time.

 
**2.**Is there a connection between marital status and repaying a loan on time?



   It seems that custumers that **single** ore in **civil partnership** less responseble in  paying back on time then other categories.

**3.**Is there a connection between income level and repaying a loan on time?

   

   It seems that custumers thet **unemployed** ore **paternity / maternity** leave struggling with paying back on time

**4.**How do different loan purposes affect on-time loan repayment?


**Checking the percentages for default rate for each credit purpose**



data.groupby(['cat_purpose'])['debt'].agg(['count','mean']).reset_index().sort_values(by='mean',ascending=False).head()



   Bank should be **careful** then asked for loan in cases of **wedding ceremonies** ore **educetional** purpose